.div{
    text-align: center;
    height: 1150px;
}
.div1{
    height: 1100px;
}

.h1{
    position: relative;
    top: 40px;
    font-size: 23px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}
.div2{
    height: 900px;
    width: 95%;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3.200px);
    /* grid-template-columns: repeat(5);
    grid-template-rows: repeat(3); */
    position: relative;
    left: 2%;
    top: 80px;
    border: 4px solid black;
    border-radius: 2px;
    text-align: center; 
    position: relative;
    top: 40px;
    border-radius: 10px;
}

.divIndividual{
    text-decoration: none;
    border: 1px solid black;
    height: 270px;
    margin: 8px;
    border-radius: 5px;
    width: 90%;
}

.divIndividual:hover{
    box-shadow: 3px 3px 3px black;

}


.img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.name{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.genres{
    color: black;
    text-decoration: none;
    font-size: 15px;
}



@media(max-width:760px){
  
    .div{
        text-align: center;
        height: 1150px;
    }
    .div1{
        height: 1100px;
    }
    
    .h1{
        position: relative;
        top: 40px;
        font-size: 23px;
        font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    }
    .div2{
        height: 5300px;
        width: 95%;
        text-align: center;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3.200px);
        /* grid-template-columns: repeat(5);
        grid-template-rows: repeat(3); */
        position: relative;
        left: 2%;
        top: 80px;
        border: 4px solid black;
        border-radius: 2px;
        text-align: center; 
        position: relative;
        top: 40px;
        border-radius: 10px;
    }
    
    .divIndividual{
        text-decoration: none;
        border: 1px solid black;
        height: 300px;
        margin: 8px;
        border-radius: 5px;
        width: 90%;
        position: relative;
        left: 2%;
    }
    
    .divIndividual:hover{
        box-shadow: 3px 3px 3px black;
    
    }
    
    
    .img{
        width: 100%;
        height: 190px;
        border-radius: 5px;
    }
    
    .name{
        color: black;
        text-decoration: none;
        font-size: 16px;
    }
    .genres{
        color: black;
        text-decoration: none;
        font-size: 15px;
    }
  }