

.divm{
  height: 500px;
  width: 1%;
  position: relative;
  left: 43%;
}

  .span{
    color: #000;
  }

  .loader {
    position: relative;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 5px solid #e74c3c;
    top: 20vh;
    animation: load 2s linear infinite;
  }
  
  .loader::before,.loader::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .loader::before {
    border-top: 5px solid #e67e22;
    transform: rotate(120deg);
  }
  
  .loader::after {
    border-top: 5px solid #3498db;
    transform: rotate(240deg);
  }
  
  .loader span {
    position: absolute;
    font-size: small;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    animation: a2 2s linear infinite;
  }
  
  
  @keyframes load {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes a2 {
    to {
      transform: rotate(-360deg);
    }
  }

    
  .button {
    padding: 20px 60px;
    background-color:rgb(231, 227, 227);
    border: none;
    font-size: 18px;
    position: relative;  
    top: 27vh;
    transition: 500ms;
  }
  
  .button span {
    color: gray;
    position: relative;
    transition: 500ms;
    transition-delay: 500ms;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
  }
  
  .button:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transition: 500ms;
    transition-delay: 500ms;
    background-color: white;
    box-shadow: 0 0 10px white,
     0 0 30px white, 
     0 0 50px white;
  }
  
  .button div {
    transition: 500ms;
    position: absolute;
    background-color:#e74c3c;
    box-shadow: 0 0 15px white, 0 0 30px white, 0 0 50px white;
  }
  
  .button .top {
    width: 15px;
    height: 2px;
    top: 0;
    left: 0;
  }
  
  .button .bottom {
    width: 15px;
    height: 2px;
    bottom: 0;
    right: 0;
  }
  
  .button .left {
    width: 2px;
    height: 15px;
    top: 0;
    left: 0;
  }
  
  .button .right {
    width: 2px;
    height: 15px;
    bottom: 0;
    right: 0;
  }
  
  .button:hover {
    color: #000;
    cursor: pointer
  }
  
  .button:hover span {
    color: #000;
  }
  
  .button:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .button:hover .top, 
  .button:hover .bottom {
    width: 100%;
  }
  
  .button:hover .left,
  .button:hover .right {
    height: 100%;
  }




  /* ///////////////////////loading//////////////////// */




  .spinner {
    position: relative;
    top: 240px;
    left: 4%;
    height: 50px;
    width: max-content;
    font-size: 18px;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: 1em;
    color: #020202;
    filter: drop-shadow(0 0 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
   }
   
   .spinner span {
    animation: loading6454 1.75s ease infinite;
   }
   
   .spinner span:nth-child(2) {
    animation-delay: 0.25s;
   }
   
   .spinner span:nth-child(3) {
    animation-delay: 0.5s;
   }
   
   .spinner span:nth-child(4) {
    animation-delay: 0.75s;
   }
   
   .spinner span:nth-child(5) {
    animation-delay: 1s;
   }
   
   .spinner span:nth-child(6) {
    animation-delay: 1.25s;
   }
   
   .spinner span:nth-child(7) {
    animation-delay: 1.5s;
   }
   
   @keyframes loading6454 {
    0%, 100% {
     transform: translateY(0);
    }
   
    50% {
     transform: translateY(-10px);
    }
   }




   /* @media (max-width: 960px) {
   
    .spinner {
      margin-top: 130px;
     }
  
  
    } */

   @media (max-width: 761px) {

     .divm{
      height: 300px;
      width: 1%;
      position: relative;
      left: 38%;
    } 
   
  .spinner {
    display: none;
   }


   .loader {
    position: relative;
    left: 22px;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 5px solid #e74c3c;
    top: 20vh;
    animation: load 2s linear infinite;
  }
  
  .loader::before,.loader::after {
    content: '';
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .loader::before {
    border-top: 5px solid #e67e22;
    transform: rotate(120deg);
  }
  
  .loader::after {
    border-top: 5px solid #3498db;
    transform: rotate(240deg);
  }
  
  .loader span {
    position: absolute;
    font-size: small;
    width: 120px;
    height: 120px;
    color: #fff;
    text-align: center;
    line-height: 120px;
    animation: a2 2s linear infinite;
  }

  }


  
  @media (max-width: 414px) {

    .divm{
      height: 300px;
      width: 1%;
      position: relative;
      left: 30%;
    } 


  }