.div{
    width: 100%;
    height: 750px;
}
.div2{
    width: 100%;
    height: 100px;
    background-color: white;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}
.h2{
    position: relative;
    top: 34px;
    border-bottom: 3px solid black;
    display:inline-block;
}

.img{
    width: 100%;
    height: 900px;
}

.form{
    position: absolute;
    border: 3px solid rgb(245, 241, 241);
    border-radius: 20px;
    width: 40%;
    height: 730px;
    left: 30%;
    top: 360px;
    background-color: black;
    opacity: .7;
}

.label{
    color: white;
}
.Nombre{
  position: relative;
  right: 5%;
  top: 20px;
}
.Fecha_de_lanzamiento{
    position: relative;
    right: 7%;
    top: 60px;
}

.inputFecha{
    width: 30%;
}

.rating{
    position: relative;
    right: 7%;
    top: 100px;

}

.Pgeneros{
    color: white;
    position: absolute;
    top: 187px;
    left: 18%;
}

.select{
    /* opacity: .; */
    position: absolute;
    right: 53%;
    top: 230px;
    width: 45%;
    height: 90px;

}

.Pplataformas{
    color: white;
    position: absolute;
    top: 187px;
    right: 17%;
}
.divli{
    position: absolute;
    top: 330px;
    left: 55.5%;
    width: 38%;
    height: 120px;
     
}
.liPlataformas{
    color: white;
    font-size: 13px;
}

.select2{
    position: absolute;
    left: 53%;
    top: 230px;
    width: 45%;
    height: 90px;

}
.divli2{
    position: absolute;
    top: 330px;
    left: 5%;
    width: 40%;
    height: 120px;
}

.liGeneres{
    color: white;
    font-size: 13px;
}
.imagen{
position: relative;
right: 7%;
top: 390px;
}

.InputImagen{
    width: 60%;
}

.descripcion{
    position: relative;
    right: 5%;
    top: 405px;

}
.Pdescripcion{
    color: white;
    position: relative;
    top: 10px;
}

.textarea{
    width: 100%;
    height: 120px;
}

.boton{
    position: absolute;
     top: 1115px;
     left: 43%;
     width: 15%;
     height: 40px;
    background-color: white;
    color: #15056a;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
}


.boton:hover{
    background-color: #15056a;
    color: white;
    border: 1px solid black;
    transition: .5s;
    cursor: pointer
}

.Pnombre{
    position: absolute;
    top: 48px;
    left: 25%;
    color: red;
    font-size: 13px;
}

.Pfecha{
    position: absolute;
    top: 112px;
    left: 21%;
     color: red;
    font-size: 13px;

} 

.Prating{
    position: absolute;
    top: 172px;
    left: 27%;
    color: red;
    font-size: 13px;

}

.Pplataformas2 {
    position: absolute;
    top: 442px;
    left: 50%;
    color: red;
    font-size: 12px;

}

.Pgeneros2{
    position: absolute;
    top: 442px;
    left: 1%;
    color: red;
    font-size: 12px;
}

.imagen_backgrund{
    position: absolute;
    top: 492px;
    left: 25%;
    color: red;
    font-size: 13px;
}

.Pdescription2{
    position: absolute;
    top: 689px; 
    left: 25%;
    color: red;
    font-size: 13px;
}


@media(max-width: 723px){
    .div{
        width: 100%;
        height: 750px;
    }
    .div2{
        width: 100%;
        height: 100px;
        background-color: white;
        font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    }
    .h2{
        position: relative;
        top: 34px;
        border-bottom: 3px solid black;
        display:inline-block;
    }
    
    .img{
        width: 100%;
        height: 900px;
    }
    
    .form{
        position: absolute;
        border: 3px solid rgb(245, 241, 241);
        border-radius: 20px;
        width: 99%;
        height: 730px;
        left: .5%;
        top: 470px;
        background-color: black;
        opacity: .7;
    }
    
    .label{
        color: white;
    }
    .Nombre{
      position: relative;
      right: 5%;
      top: 20px;
    }
    .Fecha_de_lanzamiento{
        position: relative;
        right: 7%;
        top: 60px;
    }
    
    .inputFecha{
        width: 30%;
    }
    
    .rating{
        position: relative;
        right: 7%;
        top: 100px;
    
    }
    
    .Pgeneros{
        color: white;
        position: absolute;
        top: 187px;
        left: 18%;
    }
    
    .select{
        /* opacity: .; */
        position: absolute;
        right: 53%;
        top: 230px;
        width: 45%;
        height: 90px;
    
    }
    
    .Pplataformas{
        color: white;
        position: absolute;
        top: 187px;
        right: 17%;
    }
    .divli{
        position: absolute;
        top: 330px;
        left: 55.5%;
        width: 38%;
        height: 120px;
         
    }
    .liPlataformas{
        color: white;
        font-size: 13px;
    }
    
    .select2{
        position: absolute;
        left: 53%;
        top: 230px;
        width: 45%;
        height: 90px;
    
    }
    .divli2{
        position: absolute;
        top: 330px;
        left: 5%;
        width: 40%;
        height: 120px;
    }
    
    .liGeneres{
        color: white;
        font-size: 13px;
    }
    .imagen{
    position: relative;
    right: 7%;
    top: 390px;
    }
    
    .InputImagen{
        width: 60%;
    }
    
    .descripcion{
        position: relative;
        right: 5%;
        top: 405px;
    
    }
    .Pdescripcion{
        color: white;
        position: relative;
        top: 10px;
    }
    
    .textarea{
        width: 100%;
        height: 120px;
    }
    
    .boton{
        position: absolute;
         top: 1235px;
         left: 32%;
         width: 40%;
         height: 40px;
        background-color: white;
        color: #15056a;
        border: 1px solid black;
        font-size: 16px;
        border-radius: 5px;
    }
    
    
    .boton:hover{
        background-color: #15056a;
        color: white;
        border: 1px solid black;
        transition: .5s;
        cursor: pointer
    }
    
    .Pnombre{
        position: absolute;
        top: 48px;
        left: 25%;
        color: red;
        font-size: 13px;
    }
    
    .Pfecha{
        position: absolute;
        top: 112px;
        left: 21%;
         color: red;
        font-size: 13px;
    
    } 
    
    .Prating{
        position: absolute;
        top: 172px;
        left: 27%;
        color: red;
        font-size: 13px;
    
    }
    
    .Pplataformas2 {
        position: absolute;
        top: 442px;
        left: 50%;
        color: red;
        font-size: 12px;
    
    }
    
    .Pgeneros2{
        position: absolute;
        top: 442px;
        left: 1%;
        color: red;
        font-size: 12px;
    }
    
    .imagen_backgrund{
        position: absolute;
        top: 492px;
        left: 25%;
        color: red;
        font-size: 13px;
    }
    
    .Pdescription2{
        position: absolute;
        top: 689px; 
        left: 25%;
        color: red;
        font-size: 13px;
    }
}