 .div{
   /* border: 2px solid black;  */
   height: 35px;
   position: absolute;
   top: 135px;
   right: 84%;
   width: 12%;
 }  
.select{

 width:80%;
 height: 30px;   
 border-radius: 5px;
 font-size: 15px;
 position: relative;
 right: 29%;
}

.select2{
 width: 60%;
 height: 30px;   
 border-radius: 5px;
 font-size: 15px;
 position: relative;
 left: 75%;
 top: -30px;

}



@media(max-width:760px){
  .div{
    /* border: 2px solid black;  */
    height: 35px;
    position: absolute;
    top: 320px;
    right: 84%;
    width: 12%;
    
  } 
  
  .select{

    width:110px;
    height: 30px;   
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    top: -40px;
    left:  80%;
    display: inline-block;
  }
   
   .select2{
    width:110px;
    height: 30px;   
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    top: -40px;
    left:  500%;
    display: inline-block;
   
   }
}

