.divInput{
/* border: 1px solid black; */
width: 25%;
position: absolute;
left: 74%;
top: 20px;
}
.input{
    height: 25px;
    width: 45%;
    border: 1px solid rgb(33, 32, 32);
    border-radius: 3px;
}
.button{
    border: 1px solid rgb(12, 11, 11);
    height: 29px;
    width: 30%;
    font-size: 20px;
    color: rgb(12, 12, 12);
    background-color: white;
    border-radius: 3px;
    position: relative;
    top: 2px;
}
.button:hover{
    height: 32px;
    width:35%;
    transition: 1s;
    cursor: pointer
}

 
@media(max-width: 760px){
  
    .divInput{
    
        width: 90%;
        position: absolute;
        left: 4%;
        top: 2px;
        }
        .input{
            height: 25px;
            width: 79%;
            border: 1px solid rgb(33, 32, 32);
            border-radius: 3px;
        }
        .button{
            border: 1px solid rgb(12, 11, 11);
            height: 29px;
            width: 80%;
            font-size: 20px;
            color: rgb(12, 12, 12);
            background-color: white;
            border-radius: 3px;
            position: relative;
            top: 2px;
        }
        .button:hover{
            height: 32px;
            width:55%;
            transition: 1s;
            cursor: pointer
        }
  }